.nav {
  display: flex;
  flex-direction: row;
  margin: 2em;
  justify-content: space-between;
  align-items: center;
}
.navleft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.brand {
  position: relative;
  background-image: url("../../assets/images/background.png");
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  margin: auto;
}
.z {
  z-index: 2;
  right: 0px;
  width: 30%;
}
